table{
  border: 1px solid #afafaf;
  .sorting-column{
    cursor: pointer;
  }
  thead{
    tr{
      background: #dadada;
      th{
        border-right: 1px solid #adadad;
        border-bottom: 2px solid #adadad;
        &:last-child{
          border-right: none;
        }
      }
    }
  }
  tr{
    &.unactive{
      td:first-child, td:nth-child(2) {
        opacity: .3;
      }
    }

    td{
      border-right: 1px solid #ddd;
      &:last-child{
        border-right: none;
      }
      .btn{
        margin: 0 10px;
        padding: 4px 15px;
        min-width: 75px;
      }
    }
  }
}

.controls-wr{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search-block{
    position: relative;
    display: inline-block;
    input{
      padding-right: 30px;
    }
    .fa{
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}



